.row.dependentsContainer
	.col-md-12
		h4 Dependents
		.col-md-3.dep.col-sm-4
			.card
				.content
					h4.card-title Dependent 1
					.row
						.col-sm-12
							.form-group.label-static.has-info
								label.control-label 
									i.fa.fa-lock
									|&nbsp;&nbsp;Date of Birth *
								input.form-control.datepicker(name="dep1Dob", placeholder="Date of Birth", id="")
								span.material-input
					.row
						.col-md-12
							select.select.btn.btn-raised.btn-primary.btn-round(name="dep1Student", id="")
								option(disabled, selected) Student?
								option(value="true") Yes
								option(value="false") No
					.row
						.col-md-12
							select.select.btn.btn-raised.btn-primary.btn-round(name="dep1Disabled", id="")
								option(disabled, selected) Disabled?
								option(value="true") Yes
								option(value="false") No
					.row
						.col-md-12
							select.select.btn.btn-raised.btn-primary.btn-round(name="dep1Live", id="")
								option(disabled, selected) Live with you?
								option(value="true") Yes
								option(value="false") No
		.col-md-3.dep.col-sm-4
			.card
				.content
					h4.card-title Dependent 2
					.row
						.col-sm-12
							.form-group.label-static.has-info
								label.control-label 
									i.fa.fa-lock
									|&nbsp;&nbsp;Date of Birth *
								input.form-control.datepicker(name="dep2Dob", placeholder="Date of Birth", id="")
								span.material-input
					.row
						.col-md-12
							select.select.btn.btn-raised.btn-primary.btn-round(name="dep2Student", id="")
								option(disabled, selected) Student?
								option(value="true") Yes
								option(value="false") No
					.row
						.col-md-12
							select.select.btn.btn-raised.btn-primary.btn-round(name="dep2Disabled", id="")
								option(disabled, selected) Disabled?
								option(value="true") Yes
								option(value="false") No
					.row
						.col-md-12
							select.select.btn.btn-raised.btn-primary.btn-round(name="dep2Live", id="")
								option(disabled, selected) Live with you?
								option(value="true") Yes
								option(value="false") No
		.col-md-3.dep.col-sm-4
			.card
				.content
					h4.card-title Dependent 3
					.row
						.col-sm-12
							.form-group.label-static.has-info
								label.control-label 
									i.fa.fa-lock
									|&nbsp;&nbsp;Date of Birth *
								input.form-control.datepicker(name="dep3Dob", placeholder="Date of Birth", id="")
								span.material-input
					.row
						.col-md-12
							select.select.btn.btn-raised.btn-primary.btn-round(name="dep3Student", id="")
								option(disabled, selected) Student?
								option(value="true") Yes
								option(value="false") No
					.row
						.col-md-12
							select.select.btn.btn-raised.btn-primary.btn-round(name="dep3Disabled", id="")
								option(disabled, selected) Disabled?
								option(value="true") Yes
								option(value="false") No
					.row
						.col-md-12
							select.select.btn.btn-raised.btn-primary.btn-round(name="dep3Live", id="")
								option(disabled, selected) Live with you?
								option(value="true") Yes
								option(value="false") No
		.col-md-3.dep.col-sm-4
			.card
				.content
					h4.card-title Dependent 4
					.row
						.col-sm-12
							.form-group.label-static.has-info
								label.control-label 
									i.fa.fa-lock
									|&nbsp;&nbsp;Date of Birth *
								input.form-control.datepicker(name="dep4Dob", placeholder="Date of Birth", id="")
								span.material-input
					.row
						.col-md-12
							select.select.btn.btn-raised.btn-primary.btn-round(name="dep4Student", id="")
								option(disabled, selected) Student?
								option(value="true") Yes
								option(value="false") No
					.row
						.col-md-12
							select.select.btn.btn-raised.btn-primary.btn-round(name="dep4Disabled", id="")
								option(disabled, selected) Disabled?
								option(value="true") Yes
								option(value="false") No
					.row
						.col-md-12
							select.select.btn.btn-raised.btn-primary.btn-round(name="dep4Live", id="")
								option(disabled, selected) Live with you?
								option(value="true") Yes
								option(value="false") No
		.col-md-3.dep.col-sm-4
			.card
				.content
					h4.card-title Dependent 5
					.row
						.col-sm-12
							.form-group.label-static.has-info
								label.control-label 
									i.fa.fa-lock
									|&nbsp;&nbsp;Date of Birth *
								input.form-control.datepicker(name="dep5Dob", placeholder="Date of Birth", id="")
								span.material-input
					.row
						.col-md-12
							select.select.btn.btn-raised.btn-primary.btn-round(name="dep5Student", id="")
								option(disabled, selected) Student?
								option(value="true") Yes
								option(value="false") No
					.row
						.col-md-12
							select.select.btn.btn-raised.btn-primary.btn-round(name="dep5Disabled", id="")
								option(disabled, selected) Disabled?
								option(value="true") Yes
								option(value="false") No
					.row
						.col-md-12
							select.select.btn.btn-raised.btn-primary.btn-round(name="dep5Live", id="")
								option(disabled, selected) Live with you?
								option(value="true") Yes
								option(value="false") No