.row.incomes
	.col-md-12
		.col-sm-3.income(id="inc1")
			.card
				.content.content-primary
					h4.card-title 
						i.fa.fa-briefcase
						|&nbsp;&nbsp;Employment (W-2)
					input(type="hidden", value="Employment W-2", name="inType1")
					.clearfix
						.form-group.label-floating.has-info
							label.control-label Income
							input.form-control(name="income1", id="")
							span.material-input
					.clearfix
						.form-group.label-floating.has-info
							label.control-label Fed Taxes Paid
							input.form-control(name="fdTax1", id="")
							span.material-input
					.clearfix
						.form-group.label-floating.has-info
							label.control-label State Taxes Paid
							input.form-control(name="stTax1", id="")
							span.material-input
		.col-sm-3.income(id="inc2")
			.card
				.content.content-primary
					h4.card-title 
						i.fa.fa-file-text
						|&nbsp;&nbsp;Unemployment
					input(type="hidden", value="Unemployment", name="inType2")
					.clearfix
						.form-group.label-floating.has-info
							label.control-label Income
							input.form-control(name="income2", id="")
							span.material-input
					.clearfix
						.form-group.label-floating.has-info
							label.control-label Fed Taxes Paid
							input.form-control(name="fdTax2", id="")
							span.material-input
					.clearfix
						.form-group.label-floating.has-info
							label.control-label State Taxes Paid
							input.form-control(name="stTax2", id="")
							span.material-input
		.col-sm-3.income(id="inc3")
			.card
				.content.content-primary
					h4.card-title 
						i.fa.fa-coffee
						|&nbsp;&nbsp;Self Employment
					input(type="hidden", value="Self Employment", name="inType3")
					.clearfix
						.form-group.label-floating.has-info
							label.control-label Income
							input.form-control(name="income3", id="")
							span.material-input
					.clearfix
						.form-group.label-floating.has-info
							label.control-label Expenses
							input.form-control(name="expenses3", id="")
							span.material-input
		.col-sm-3.income(id="inc4")
			.card
				.content.content-primary
					h4.card-title 
						i.fa.fa-university
						|&nbsp;&nbsp;Social Security
					input(type="hidden", value="Social Security", name="inType4")
					.clearfix
						.form-group.label-floating.has-info
							label.control-label Income
							input.form-control(name="income4", id="")
							span.material-input
					.clearfix
						.form-group.label-floating.has-info
							label.control-label Fed Taxes Paid
							input.form-control(name="fdTax4", id="")
							span.material-input
		.col-sm-3.income(id="inc5")
			.card
				.content.content-primary
					h4.card-title 
						i.fa.fa-flag
						|&nbsp;&nbsp;Combat Pay
					input(type="hidden", value="Combat Pay", name="inType5")
					.clearfix
						.form-group.label-floating.has-info
							label.control-label Income
							input.form-control(name="income5", id="")
							span.material-input
					.clearfix
						.form-group.label-floating.has-info
							label.control-label Combat Pay
							input.form-control(name="combatPay5", id="")
							span.material-input
		.col-sm-3.income(id="inc6")
			.card
				.content.content-primary
					h4.card-title 
						i.fa.fa-money
						|&nbsp;&nbsp;Interest
					input(type="hidden", value="Interest", name="inType6")
					.clearfix
						.form-group.label-floating.has-info
							label.control-label Income
							input.form-control(name="income6", id="")
							span.material-input
		.col-sm-3.income(id="inc7")
			.card
				.content.content-primary
					h4.card-title 
						i.fa.fa-line-chart
						|&nbsp;&nbsp;Dividends
					input(type="hidden", value="Dividends", name="inType7")
					.clearfix
						.form-group.label-floating.has-info
							label.control-label Income
							input.form-control(name="oDiv7", id="")
							span.material-input
					.clearfix
						.form-group.label-floating.has-info
							label.control-label Qualified Dividends
							input.form-control(name="qDiv7", id="")
							span.material-input
		.col-sm-3.income(id="inc8")
			.card
				.content.content-primary
					h4.card-title 
						i.fa.fa-area-chart
						|&nbsp;&nbsp;Retirement
					input(type="hidden", value="Retirement", name="inType8")
					.clearfix
						.form-group.label-floating.has-info
							label.control-label Income
							input.form-control(name="income8", id="")
							span.material-input
					.clearfix
						.form-group.label-floating.has-info
							label.control-label Fed Taxes Paid
							input.form-control(name="fdTax8", id="")
							span.material-input
					.clearfix
						.form-group.label-floating.has-info
							label.control-label Code
							input.form-control(name="code8", id="")
							span.material-input