a:hover {
  cursor: pointer;
}
.navbar-header {
  width: 150px;
  margin-right: 35px;
}
#logoLink,
#loginLink {
  display: block;
}
#headerLogo {
  width: 50%;
}
#topSearch {
  color: #fff;
}
#mainBody {
  margin-top: 120px;
}
#mainNav li a {
  width: 100%;
  text-align: left;
}
#logoID {
  width: 90%;
}
.content-primary input {
  color: #fff;
}
.dropdownjs ul li {
  color: #000;
}
.current-info.audible {
  display: none;
}
.toplist li {
  display: inline-block;
}
