a:hover
	cursor pointer
.navbar-header
	width 150px
	margin-right 35px
#logoLink , #loginLink
	display block
#headerLogo
	width 50%
#topSearch
	color white
#mainBody
	margin-top 120px
#mainNav li a
	width 100%
	text-align left
#logoID
	width 90%