doctype
html
	head
		title Get A Higher Tax Return!
		include ../includes/head
	body.pricing
		include ../includes/formNav
		.page-header.header-filter(data-parallax="active", style="background-image: url('img/bg2.jpg');")
			.container
				.row
					.col-md-8.col-md-offset-2
						h1.title Let's Get Started
						h4 Here I will add some plain text
		.main.main-raised
			.container
				.row
					.col-md-12
						include ../includes/taxpayerForm
		include ../includes/footer
		include ../includes/scripts
		include ../includes/taxpayerScript