doctype
html
	head
		title Get A Higher Tax Return!
		include ../includes/head
	body.section-white.header-2
		include ../includes/mainNav
		.page-header.header-filter(style="background-image: url('img/city.jpg');background-size: cover; background-position: top center;")
			.container
				.row
					.col-md-8.col-md-offset-2.text-center
						h1.title Get A Higher Refund!
						h4 85% of people who file themselves miss out on a higher tax refund. STOP LEAVING MONEY BEHIND!
						h6 Get several no-risk quotes for your REAL Maximum refund from local professionals, anonymously!
					.col-md-10.col-md-offset-1
						.card.card-raised.card-form-horizontal
							.content
								form
									.row
										.col-md-3
											.form-group.is-empty
												input.form-control(placeholder="First Name")
												span.material-input
										.col-md-3
											.form-group.is-empty
												input.form-control(placeholder="First Name")
												span.material-input
										.col-md-3
											.form-group.is-empty
												input.form-control(placeholder="First Name")
												span.material-input

