nav.navbar.navbar-primary.navbar-transparent.navbar-fixed-top.navbar-color-on-scroll
	.container
		.navbar-header
			button.navbar-toggle(type="button", data-toggle="collapse", data-target="mainNavigationPart")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
		.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				include navigationLinks