nav.navbar.navbar-transparent.navbar-absolute
		.container
			.navbar-header
				button.navbar-toggle(type="button", data-toggle="collapse", data-target="mainNavigationPart")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.collapse.navbar-collapse(id="mainNavigationPart")
				ul.nav.navbar-nav.navbar-right
					include navigationLinks
