script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript", src="/vendor/bootstrap-material-design/dist/js/material.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/nouislider.min.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap-datepicker.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/material-kit.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/jquery.dropdown.js")
script(type="text/javascript", src="/vendor/bootstrap-material-design/dist/js/ripples.min.js")




