form(id="taxpayerCreate", action="/taxpayer/create", method="post")
	include form/taxpayer
	include form/income
	.row
		.col-md-12
			input.btn.btn-primary.btn-wd.pull-right(type="submit", id="submit", value="Get Quotes")